@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}



@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --color--primary--black: #011C44
}

:root {
    --color--primary--blue: #2B7FFF
}

:root {
    --color--white: #FFFFFF
}

:root {
    --color--background: #011C44
}

:root {
    --color--data: #747272
}

ul li {
    list-style: none;

}

a,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.section {
    padding: 48px 0;
}



.header {
    
}

.header-section{
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
}

.header-container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.header-link {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.header-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.logo {
    width: 32px;
    height: 32px;
}

.clinic-text {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}



.hero-section {
    height: 658px;
    background-image: url(./img/background_header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title{
    height: 658px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8509), rgba(255, 255, 255, 0.1932), rgba(255, 255, 255, 0));
}



.section-reincarnate {
    padding: 126px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.reincarnate-title {
    width: 709px;
    height: 460px;
    font-size: 22px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reincarnate-text {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.reincarnate-img {
    display: flex;
}

.img-1 {
    width: 335px;
    height: 328px;
    align-self: flex-start;
    border-radius: 50%;
}

.img-2 {
    width: 335px;
    height: 328px;
    align-self: flex-end;
    border-radius: 50%;
}



.why {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.why-items {
    flex-basis: calc((100% - 40px) / 3);
}



.arrow{
    width: 17px;
}

.arrow:hover{
    fill: var(--color--white);
}

.why-carts {
    width: 316px;
    height: 181px;
    border: 1px solid #124512;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.why-container {
    margin: 24px 32px;
}

.svg-img{
    padding: 10px;
    width: 32px;
    height: 32px;
    fill: var(--color--primary--blue);
}

.why-img{
    margin: 5px 102px 8px 102px;
}

.why-img-1{
    fill: var(--color--primary--blue);
}

.why-text {
    font-family: "roboto", sans-serif;
    font-size: 18px;
    text-align: center;
}




.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 24px;
}

.logo-link {
    margin: 32px 99px;
}

.link {
    color: var(--color--primary--black);
    font-family: "roboto", sans-serif;
    font-weight: 400;

}

.link:hover {
    color: var(--color--primary--blue);
    font-weight: 700;
}

.button-text {
    margin: 16.5px 205px;
}

.h1 {
    color: var(--color--primary--blue);
    font-family: "play", sans-serif;
    font-weight: 700;
    font-size: 140px;
    margin-bottom: 0;
}

.button {
    width: 218px;
    height: 53px;
    border: 1px solid var(--color--primary--blue);
    border-radius: 32px;
    color: #f0f0f0;
    background-color: var(--color--primary--blue);
    margin: 40px 0 14px 0;
    font-family: "roboto";
    font-weight: 600;
    font-size: 18px;
}

.button:hover {
    color: var(--color--primary--black);
    font-weight: bold;
    background-color: var(--color--white);
}

.free-text {
    width: 210px;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.h2 {

    font-size: 64px;
    font-family: "play", sans-serif;
    font-weight: 700;
    line-height: 74px;
}

.h2 span {
    color: var(--color--primary--blue);
}

.h2-1 {
    width: 529px;
}

.h2-2 {
    text-align: center;
    margin-bottom: 48px;
}

.h2-3 {
    text-align: center;
}

.h2-4 {
    text-align: center;
    margin-bottom: 48px;
}




.section-procedures {
    margin: 96px 0;
}

.button-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color--primary--black);
    border-radius: 50%;
    background-color: var(--color--white);
    cursor: pointer;
}

.button-cards:hover {
    background-color: var(--color--primary--blue);
    border-color: var(--color--white);
}

.procedures-container{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.procedures-items{
    flex-basis: calc((100% - 40px) / 3);
}

.procedures-cards {
    display: flex;
    gap: 20px;

}

.img{
    height: 456px;
    width: 344px;
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
    border-radius: 4px 120px 4px 120px;
}

.img-mask{
background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color--primary--blue) 100%), url(./img/mask.jpg);
    background-size: cover;
    background-position: center;
}

.img-injection{
    background-image: linear-gradient(180deg,
                rgba(49, 38, 26, 0) 55.21%,
                rgba(49, 38, 26, 0.71) 72.92%,
                var(--color--primary--blue) 100%), url(./img/injection.jpg);
        background-size: cover;
        background-position: center;
}

.img-clear{
    background-image: linear-gradient(180deg,
                rgba(49, 38, 26, 0) 55.21%,
                rgba(49, 38, 26, 0.71) 72.92%,
                var(--color--primary--blue) 100%), url(./img/clear.jpg);
        background-size: cover;
        background-position: center;
}

.procedures-img {
    border-radius: 4px 120px 4px 120px;
}


.text-img{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: var(--color--white);
    position: relative;
    top: 372px;
}

.img {
    margin: 70px 0;
}




.section-location {
    margin: 139px 0 96px;
}

.link_1 {
    color: var(--color--white);
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.li {
    margin-bottom: 16px;
}

.link_1:hover {
    color: var(--color--primary--blue);
    font-weight: 700;
}



.footer {
    height: 278px;
    display: flex;
    align-items: center;
    background-color: var(--color--background);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 186px;
}


.footer-logo {
    align-items: flex-start;
}

.footer-copyrait {
    gap: 16px;
}

.li-img{
    height: 42px;
    width: 42px;
    display: flex;
    gap: 24px;
}

.data {
    color: var(--color--data);
}
